/* nusitaikem {
      pavadinimas: reikme
    } */
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 100px;
  font-size: 50px;
  color: tomato !important;
  /* paraste - atstumpi viena elementa nuo kito */
  margin-top: 0;
}

.subtitle {
  text-transform: uppercase;
  color: blue;
}

.block-title {
  /* border-width: 3px;
  border-style: solid;
  border-color: blueviolet; */
  /* border-left: 3px solid blueviolet;
  border-bottom: 3px solid blueviolet; */
  border: 3px solid blueviolet;
  /* apvado kampu uzapvalinimas */
  border-radius: 10px;
  padding-top: 15px;
}

.art-title {
  border: 1px solid tomato;
  /* inline-block - blokas kuris neuzima viso ploto  */
  display: inline-block;
  /* inline - tai kaip teksto raide */
  /* display: inline; */
  width: 25%;
}
.art-text {
  border: 1px solid blueviolet;
  width: 25%;
  display: inline;
}
.art-span {
  border: 1px solid saddlebrown;
}